<%- include('../partials/header')%>

	<div class="hero">
			<div class="hero__container">
				<div class="hero__containerTitle">
					<h1 class="hero__title">EJPulidoDev</h1>
					<p class="hero__info"> <strong>¡ Hola <%=nameUser%> !</strong> bienvenido a mi curriculo, te deseo que disfrutes la experiencia colorida.
					</p>
					<div class="cta__container">
						<a href="#about" class="hero__cta">Comenzar</a>
					</div>
					
				</div>
				
				<div class="hero__containerImg poligon__hero">
					<img src="img/startup.png" class="hero__img poligon">
				</div> 



			</div>
		</div>
	<section>
		<article class="about" id="about" style="height: 100vh;">
			
			<div class="about__content">
				<div class="about__imgContainer polygon__about">
					<img src="img/yoMerengues.jpg" class="about__img   poligon__about">
				</div>
				<div class="about__info">

					<div class="about__titleContainer">
						<h2 class="about__title">Acerca de Mí</h2>
					</div>

					<p class="about__p"><strong>Hola <%=nameUser%></strong>, mi nombre es <strong>Eliezer Pulido</strong> , me encanta el mundo de la programación lo que me lleva a indagar e instruirme para aprender este arte, el arte de la lógica (como me gusta llamarlo); en donde los pensamientos se convierten en realidades.</p>
				</div>
				<div class="about__final polygon__final"></div>

			</div>

		</article>
		<article class="tecnology" id="tecnology">
			<div class="tecnology__content">
				<div class="tecnology__titleContainer">
					<h2 class="tecnology__title">Tecnologías</h2>
				</div>
				<div class="tecnology__tools">
					<!-- tecnologia -->
					<div class="tecnology__tool ">
						<div class="tecnology__svg  ">
							 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class= "svgTools"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M0 32l34.9 395.8L191.5 480l157.6-52.2L384 32H0zm308.2 127.9H124.4l4.1 49.4h175.6l-13.6 148.4-97.9 27v.3h-1.1l-98.7-27.3-6-75.8h47.7L138 320l53.5 14.5 53.7-14.5 6-62.2H84.3L71.5 112.2h241.1l-4.4 47.7z"/></svg>
						</div>
						<div class="tecnology__name">
							<h3>HTML</h3>
						</div>
					</div>
					<!-- tecnologia -->
					<!-- tecnologia -->
					<div class="tecnology__tool">
						<div class="tecnology__svg">
							 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class= "svgTools"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M0 32l34.9 395.8L192 480l157.1-52.2L384 32H0zm313.1 80l-4.8 47.3L193 208.6l-.3.1h111.5l-12.8 146.6-98.2 28.7-98.8-29.2-6.4-73.9h48.9l3.2 38.3 52.6 13.3 54.7-15.4 3.7-61.6-166.3-.5v-.1l-.2.1-3.6-46.3L193.1 162l6.5-2.7H76.7L70.9 112h242.2z"/></svg> 
						</div>
						<div class="tecnology__name">
							<h3>CSS</h3>
						</div>
					</div>
					<!-- tecnologia -->
					<!-- tecnologia -->
					<div class="tecnology__tool">
						<div class="tecnology__svg">
							 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class= "svgTools"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zM243.8 381.4c0 43.6-25.6 63.5-62.9 63.5-33.7 0-53.2-17.4-63.2-38.5l34.3-20.7c6.6 11.7 12.6 21.6 27.1 21.6 13.8 0 22.6-5.4 22.6-26.5V237.7h42.1v143.7zm99.6 63.5c-39.1 0-64.4-18.6-76.7-43l34.3-19.8c9 14.7 20.8 25.6 41.5 25.6 17.4 0 28.6-8.7 28.6-20.8 0-14.4-11.4-19.5-30.7-28l-10.5-4.5c-30.4-12.9-50.5-29.2-50.5-63.5 0-31.6 24.1-55.6 61.6-55.6 26.8 0 46 9.3 59.8 33.7L368 290c-7.2-12.9-15-18-27.1-18-12.3 0-20.1 7.8-20.1 18 0 12.6 7.8 17.7 25.9 25.6l10.5 4.5c35.8 15.3 55.9 31 55.9 66.2 0 37.8-29.8 58.6-69.7 58.6z"/></svg>
						</div>
						<div class="tecnology__name">
							 <h3>Javascript</h3>
						</div>
					</div>
					<!-- tecnologia -->
				</div>


			</div>
			<div class="tecnology__final polygon__final"></div>

		</article>
		<article class="study" id="study">
		
			<div class="study__container"> 
				<div class="study__titleContainer">
					<h3 class="study__title">Estudios</h3>
				</div>
				<div class="study__flex">
					<div class="study__info">
					<ul class="study__list">
						<li class="study__listElement">Ingeniería Informática (En curso), Universidad Nacional Experimental Rómulo Gallegos</li>
					</ul>
				</div>
				<div class="study__svgContainer">
					 <svg xmlns="http://www.w3.org/2000/svg" class="study__svg" viewBox="0 0 576 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M118.6 80c-11.5 0-21.4 7.9-24 19.1L57 260.3c20.5-6.2 48.3-12.3 78.7-12.3c32.3 0 61.8 6.9 82.8 13.5c10.6 3.3 19.3 6.7 25.4 9.2c3.1 1.3 5.5 2.4 7.3 3.2c.9 .4 1.6 .7 2.1 1l.6 .3 .2 .1 .1 0 0 0 0 0s0 0-6.3 12.7h0l6.3-12.7c5.8 2.9 10.4 7.3 13.5 12.7h40.6c3.1-5.3 7.7-9.8 13.5-12.7l6.3 12.7h0c-6.3-12.7-6.3-12.7-6.3-12.7l0 0 0 0 .1 0 .2-.1 .6-.3c.5-.2 1.2-.6 2.1-1c1.8-.8 4.2-1.9 7.3-3.2c6.1-2.6 14.8-5.9 25.4-9.2c21-6.6 50.4-13.5 82.8-13.5c30.4 0 58.2 6.1 78.7 12.3L481.4 99.1c-2.6-11.2-12.6-19.1-24-19.1c-3.1 0-6.2 .6-9.2 1.8L416.9 94.3c-12.3 4.9-26.3-1.1-31.2-13.4s1.1-26.3 13.4-31.2l31.3-12.5c8.6-3.4 17.7-5.2 27-5.2c33.8 0 63.1 23.3 70.8 56.2l43.9 188c1.7 7.3 2.9 14.7 3.5 22.1c.3 1.9 .5 3.8 .5 5.7v6.7V352v16c0 61.9-50.1 112-112 112H419.7c-59.4 0-108.5-46.4-111.8-105.8L306.6 352H269.4l-1.2 22.2C264.9 433.6 215.8 480 156.3 480H112C50.1 480 0 429.9 0 368V352 310.7 304c0-1.9 .2-3.8 .5-5.7c.6-7.4 1.8-14.8 3.5-22.1l43.9-188C55.5 55.3 84.8 32 118.6 32c9.2 0 18.4 1.8 27 5.2l31.3 12.5c12.3 4.9 18.3 18.9 13.4 31.2s-18.9 18.3-31.2 13.4L127.8 81.8c-2.9-1.2-6-1.8-9.2-1.8zM64 325.4V368c0 26.5 21.5 48 48 48h44.3c25.5 0 46.5-19.9 47.9-45.3l2.5-45.6c-2.3-.8-4.9-1.7-7.5-2.5c-17.2-5.4-39.9-10.5-63.6-10.5c-23.7 0-46.2 5.1-63.2 10.5c-3.1 1-5.9 1.9-8.5 2.9zM512 368V325.4c-2.6-.9-5.5-1.9-8.5-2.9c-17-5.4-39.5-10.5-63.2-10.5c-23.7 0-46.4 5.1-63.6 10.5c-2.7 .8-5.2 1.7-7.5 2.5l2.5 45.6c1.4 25.4 22.5 45.3 47.9 45.3H464c26.5 0 48-21.5 48-48z"/></svg>
				</div>
				</div>
			</div>
		</article>

		<article class="jobs" id="jobs">
			<div class="jobs__container">
				<div class="jobs__titleContainer">
					<h2 class="jobs__title">Experiencia Laboral</h2>
				</div>

				<div class="jobs__content">
					<div class="jobs__svgContainer">
						 <svg xmlns="http://www.w3.org/2000/svg" class="jobs__svg" viewBox="0 0 640 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M64 96c0-35.3 28.7-64 64-64H512c35.3 0 64 28.7 64 64V352H512V96H128V352H64V96zM0 403.2C0 392.6 8.6 384 19.2 384H620.8c10.6 0 19.2 8.6 19.2 19.2c0 42.4-34.4 76.8-76.8 76.8H76.8C34.4 480 0 445.6 0 403.2zM281 209l-31 31 31 31c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-48-48c-9.4-9.4-9.4-24.6 0-33.9l48-48c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9zM393 175l48 48c9.4 9.4 9.4 24.6 0 33.9l-48 48c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l31-31-31-31c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0z"/></svg>
					</div>
					<div class="jobs__info">
						<ul class="jobs__list">
							<li class="jobs__element"> Desarrollador Web en Sistemas Tecnológicos Alcaraván. Estado Guarico.</li>
						</ul>
					</div>
				</div>
			</div>
		</article>
		<article class="contact" id="contact">
			<div class="contact__container">
				<div class="contact__titleContainer">
					<h3 class="contact__title">Contacto</h3>
				</div>
				<div class="contact__flex">
					<div class="contact__info">
						<ul class="contact__list">

							<li class="contact__element"> correo: eliezerpulido5@gmail.com
							</li>
							<li class="contact__element">
								Tlf: +58-412-895-5995
							</li>
						</ul>
					</div>
					<div class="contact__svgContainer">
						<svg xmlns="http://www.w3.org/2000/svg" class="contact__svg" 	viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M0 128C0 92.65 28.65 64 64 64H448C483.3 64 512 92.65 512 128V384C512 419.3 483.3 448 448 448H64C28.65 448 0 419.3 0 384V128zM48 128V150.1L220.5 291.7C241.1 308.7 270.9 308.7 291.5 291.7L464 150.1V127.1C464 119.2 456.8 111.1 448 111.1H64C55.16 111.1 48 119.2 48 127.1L48 128zM48 212.2V384C48 392.8 55.16 400 64 400H448C456.8 400 464 392.8 464 384V212.2L322 328.8C283.6 360.3 228.4 360.3 189.1 328.8L48 212.2z"/></svg>

					</div>
				</div>
			</div>
		</article>
	</section>
	
	<footer>
		
	</footer>
</body>
</html>